$calculate-wrapper-w: 1185px;
$calculate-left-block-w: 585px;
$calculate-right-block-w: 525px;

.calculate {
  padding: 90px 0 90px;
  position: relative;
  .middle-title {
    margin-bottom: 66px;
  }
  .general-price {
    position: absolute;
    right: $calculate-wrapper-w - $calculate-left-block-w;
    bottom: -160px;
    color: $dark-black;
    font:
    {
      size: 30px;
      family: "Circe-Light", sans-serif;
    }
    span {
      font-family: "Circe-Regular", sans-serif;
      &.price {
        margin-left: 10px;
      }
    }
  }
  .order-btn {
    position: absolute;
    right: 377px;
    bottom: -165px;
    height: 61px;
    line-height: 63px;
    font: {
      family: "Circe-Bold", sans-serif;
    }
  }
  .left-block {
    float: left;
    width: $calculate-left-block-w;
    text-align: left;
    .scenario {
      .small-title {
        margin-bottom: 15px;
      }
      margin-bottom: 80px;
    }
    .ui-slider-block {
      margin-bottom: 70px;
      color: $dark-black;
      font: {
        family: "Circe-Light", sans-serif;
        size: 18px;
      }
      .small-title {
        margin-bottom: 20px;
      }
      .scale-list {
        position: absolute;
        bottom: -27px;
        left: 0;
        right: 0;
        li {
          list-style: none;
          position: absolute;
          top: 0;
          display: inline-block;
        }
      }
    }
    .amount {
      position: relative;
      #slider-amount {
        display: none;
      }
      .scale-list {
        li {
          color: $black;
          font: {
            family: "Circe-Bold", sans-serif;
            size: 18px;
          }
          &:first-child {
            left: 0;
          }
          &:nth-child(2) {
            left: 84px;
          }
          &:nth-child(3) {
            left: 165px;
          }
          &:nth-child(4) {
            left: 247px;
          }
          &:nth-child(5) {
            left: 327px;
          }
          &:nth-child(6) {
            left: 405px;
          }
          &:nth-child(7) {
            left: 483px;
          }
          &:nth-child(8) {
            left: 562px;
          }
        }
      }
    }
    .small-section-description {
      margin-bottom: 85px;
    }
    .cross-browser-adaptation {
      .small-title {
        margin-bottom: 30px;
      }
      text-align: left;
      .browsers-list {
        li {
          display: inline-block;
          margin-bottom: 30px;
          margin-right: 44px;
        }
      }
    }
  }
  .right-block {
    float: right;
    text-align: left;
    width: $calculate-right-block-w;
    .cross-browser-adaptation {
      .small-title {
        margin-bottom: 30px;
      }
      .mobile-adaptation-list {
        li {
          display: inline-block;
          margin-right: 65px;
        }
      }
    }
  }
}